{% extends "layout/base.html" %}
{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/style_4.css'%}">

<!-- ChatBox Section -->


<body>
	<div class="container">
		<h2>Chat Box</h2>
		<div id="tempatChat">
			
		</div>
		<div class="form">
			<form method="post" id="formProses">
				<div id="error"><span id="spanMesage"></span></div>
				<input type="text" name="chat" id="chat">
				<input type="submit" name="submit" id="submit_chat" value="Balas">
			</form>
		</div>	
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$("#error").hide();

			$("#submit_chat").click(function(){
				if($("#chat").val() == ""){
					$("#error").show();
					$("#spanMesage").text("kosong ");
				}else{
					$("#error").hide();
					
					$("#tempatChat").append("<div class='orang'>  <span class='user'>"+ $("#chat").val() +"</span></div>");
					$("#chat").val("")
				}
				return false;
			})
		})
	</script>
	
</body>



{% endblock %}

