</section>
	<div class="footer" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Copyright<span style="font-size: 20px;">&copy;</span> 2019 | by <a href="https://www.facebook.com/uzumakiaann?ref=bookmarks">Abdul Azis Ansori</a></p>
            
          </div>
          
        </div>
        
      </div>
    </div>
</body>
</html>

<style >
  html{
    position: relative;
  }
	.footer{
		background-color: #333;

	}
	.footer p{
	color: #aaa;
	font-size: 0.9em;
}

</style>

