<!-- {% block header %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% load staticfiles %}
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<div>
	
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
  
  <a class="navbar-brand" href="/lab-1/">My Portofolio</a>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     
      <li class="nav-item">
       <a class="nav-link" href="/landing_page/">Portofolio</a>
      </li>    
      <li class="nav-item">
       <a class="nav-link" href="/my_experience/">Resume</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lab_1:result_table' %}">Message</a>
      </li>    
    </ul>
  </div>
</div>
</nav>
</div>

<style >
	html{
		position: relative;
	}
</style>







<!-- {% endblock %} -->


