



#body-row {
    margin-left:0;
    margin-right:0;
 



}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
    padding-top: 200px;

  	 



}


.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}


#sidebar-container .list-group .img {
    text-align: center;

}

#sidebar-container .list-group small {
    
    font-size: 20px;
    text-align: center;
    color: white;
}



.col{
	padding-top: 70px;
	overflow: auto;
	max-height: 1000vh;
}
#konten{
	min-height: 2000px;
}
.col h3{
	color: #333;
	background-color: #eee;
}

.col .row .col-xs{
	padding-left: 80px;
}
.col .row .col-sm b{
	font-size: 28px;
	font-style: block;
}
html{
	position: relative;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #333;
	padding-top: 30px;



}
footer p{
	color: #aaa;
	font-size: 0.9em;
}
section{
	min-height: 100px;
}
.cd{
	position: sticky;
}

