{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style_ex.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>My Experience</title>
  </head>
  <body>
    <!-- navbar -->
    
<!-- navbar -->
<section>
<!-- side bar -->
   <!-- Start Sidebar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
  
  <a class="navbar-brand" href="/lab-1/">My Portofolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/my_experience/">Resume </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/landing_page/">Portofolio<span class="sr-only">(current)</span></a>
      </li>    
    </ul>
  </div>
</div>
</nav>
  <div class="collapse navbar-collapse" id="sd">
   
  </div>
</nav>


<div class="row" id="body-row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <ul class="list-group cd" >
          <div class="img">
            <img src="{% static 'img/aku.jpg'%}" width="100" height="100" class="rounded-circle">
          </div>
           
           <small>{{nama}}</small>
           <small>{{univ}} || {{pondok}}</small>
                       
           
        </ul>
    </div> 
    <!-- End Sidebar -->

    <!-- MAIN -->

    <div class="col" id="konten">
        
        <h1>
            Karya
        </h1>
        <h3>Karya web</h3>
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'img/index.png'%}" width="500">
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/dasboard.png'%}" width="500">
          </div>
          
        </div>
        <br>
        <h3>Java</h3>
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'img/java1.png'%}" width="500">
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/java2.png'%}" width="500" height="400">
          </div>

        </div>

         <br>
        <h3>C++</h3>
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'img/c1.png'%}" width="500">
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/c2.png'%}" width="500" height="400">
          </div>
        </div>
        <br>
        <h3>Sertifikasi keahlian</h3>
        <div class="row">
          <div class="col-md">
            <img src="{% static 'img/smos.jpg'%}" width="600">
          </div>
          


       
        
    </div>
</div>
</section>
<footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Copyright 2019 | by <a href="https://www.facebook.com/uzumakiaann?ref=bookmarks">Abdul Azis Ansori</a></p>
            
          </div>
          
        </div>
        
      </div>
    </footer>


    










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>