{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style_ex.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>My Experience</title>
  </head>
  <body>
    <!-- navbar -->
    
<!-- navbar -->
<section>
<!-- side bar -->
   <!-- Start Sidebar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
  
  <a class="navbar-brand" href="/lab-1/">My Portofolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/my_experience/">Resume <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing_page/">Portofolio</a>
      </li>    
    </ul>
  </div>
</div>
</nav>
  <div class="collapse navbar-collapse" id="sd">
   
  </div>
</nav>


<div class="row" id="body-row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <ul class="list-group cd" >
          <div class="img">
            <img src="{% static 'img/aku.jpg'%}" width="100" height="100" class="rounded-circle">
          </div>
           
           <small>{{ nama }}</small>
           <small>{{univ}} || {{pondok}}</small>
                       
           
        </ul>
    </div> 
    <!-- End Sidebar -->

    <!-- MAIN -->

    <div class="col" id="konten">
        
        <h1>
            My Experience
        </h1>
        <h3>
          <h3>Organisasi/Sertifikasi</h3>
        </h3>
     
       <br>


       <div class="row" id="organisasi">
         <div class="col-xs">
            <img src="{% static 'img/kopma.jpg'%}" width="80" height="80">
         </div>
         <div class="col-sm">
           <b>Anggota Kopma</b>
           <br>Lembaga Entrepeneuer</br>
          </div>
         <div class="col-sm-2">Semester 1</div>
      </div>
       
      </br>
      <div class="row">
        <div class="col-xs"></div>
         <div class="col-sm-9">
            <p>pada semester 1, saya mencoba daftar salah satu UKM di kampus UTY,melewati semua tes yang ada hingga menjadi anggota resmi KOPMA UTY,</p>
            <p>Kepanitiaan yang pernah diikuti:</p>
            <lu>
              <li>HUT KOPMA UTY</li>
              <li>BAKTI SOSIAL</li>
              <li>SEMINAR NASIONAL</li>
            </lu>
            <br>
            
         </div>
        </div>

         <div class="row">
         <div class="col-xs">
            <img src="{% static 'img/kopma.jpg'%}" width="80" height="80">
         </div>
         <div class="col-sm">
           <b>Pengurus Kopma</b>
           <br>bidang usaha</br>
          </div>
         <div class="col-sm-2">Semester 3</div>
      </div>
       
      </br>
      <div class="row">
        <div class="col-xs"></div>
         <div class="col-sm-9">
            <p>Semester 3 dibuka sebuah pendaftaran jadi pengurus kopma uty, setelah melewati semua tahap seleksi akhir diterima menjadi pengurus kopma bidang usaha</p>
            <p>staff administrasi</p>
            <br>
            
         </div>
        </div> 
             <div class="row">
         <div class="col-xs">
            <img src="{% static 'img/mos.png'%}" width="80" height="80">
         </div>
         <div class="col-sm">
           <b>Sertifikasi</b>
           <br>MOS</br>
          </div>
         <div class="col-sm-2">Semester 2</div>
      </div>
       
      </br>
      <div class="row">
        <div class="col-xs"></div>
         <div class="col-sm-9">
            <p>Uty adalah sebuah kampus yang memiliki sebuah relasi kerja sama dengan microsoft maka dari itu semua mahasiswa harus melewati tes setifikasi keahlian microsoft office</p>
            <a href="verify.certiport.com">Cek Validasi </a>
            <b>(kode wU6RJ-HaXW)</b>
            <br>
            
         </div>
        </div> 
        <br>
        <h3>
          <h3>Pekerjaan</h3>
        </h3>
        <br>
       <div class="row">
         <div class="col-xs">
            <img src="{% static 'img/logo.png'%}" width="80" height="80">
         </div>
         <div class="col-sm">
           <b>Asisten Dosen</b>
           <br>Algoritma Struktur Data</br>
          </div>
         <div class="col-sm-2">Semester 4</div>
      </div>
       
      </br>
      <div class="row">
        <div class="col-xs"></div>
         <div class="col-sm-9">
            <p>pada semester 4 saya mempunyai kesempatan untuk menjadi asisten dosen bu irma handayani S.Kom.,M.Kom, saya di amanahi untuk memegang 2 kelas algoritma struktur data II.</p>
            <p>C++ tools : Code Block</p>
            <br>
            
         </div>
        </div>

        <div class="row">
         <div class="col-xs">
            <img src="{% static 'img/man5.png'%}" width="80" height="80">
         </div>
         <div class="col-sm">
           <b>Developer Web</b>
           <br>PPDB ONLINE</br>
          </div>
         <div class="col-sm-2">Semester 4</div>
      </div>
       
      </br>
      <div class="row">
        <div class="col-xs"></div>
         <div class="col-sm-9">
            <p>pada semester 4 saya diberi sebuah kepercayaan oleh Man 5 sleman untuk membuat sebuah aplikasi PPDB Online yang sesuai standart, akan tetapi pada akhirnya web ini masih terbengkalai karena ada hal yang belum saya bisa</p>
            <p>Html, CSS, PHP, Javascript</p>
            <a href="http://ppdbman5.online/">PPDB MAN 5</a>
            <br>
         </div>
        </div>
        <br>
      <h3>
          <h3>Menguasai</h3>
        </h3>
        <br>
        <div class="row">
         <div class="col-xs">
            <img src="{% static 'img/cpp.png'%}" width="100" height="100" class="rounded" alt="...">
           
         </div>
         <div class="col-xs">
          <img src="{% static 'img/css.png'%}" width="100" height="100" class="rounded" alt="...">
        </div>
         <div class="col-xs">
          <img src="{% static 'img/html.png'%}" width="100" height="100" class="rounded" alt="...">
         </div>
         <div class="col-xs">
          <img src="{% static 'img/php.png'%}" width="100" height="100" class="rounded" alt="...">
         </div>
      </div>
        
        <br>
        <div class="row">
         <div class="col-xs">
            <img src="{% static 'img/bootstrap.jpg'%}" width="100" height="100" class="rounded" alt="...">
         </div>
         <div class="col-xs">
          <img src="{% static 'img/django.jpg'%}" width="100" height="100" class="rounded" alt="...">
        </div>
         <div class="col-xs">
          <img src="{% static 'img/java.jpg'%}" width="100" height="100" class="rounded" alt="...">
         </div>
         <div class="col-xs">
          <img src="{% static 'img/mysql.jpg'%}" width="100" height="100" class="rounded" alt="...">
         </div>
      </div>
        
    </div>
</div>
</section>
<footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Copyright 2019 | by <a href="https://www.facebook.com/uzumakiaann?ref=bookmarks">Abdul Azis Ansori</a></p>
            
          </div>
          
        </div>
        
      </div>
    </footer>


    










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>