{% extends "layout/base.html" %}
{% block content %}
{% load static %}
<br>
<br>
<br>
<br>
<br>
<br>
<div id="lab8">
  <button onclick="facebookLogin()">Login with Facebook</button>
</div>
<script src="{% static 'js/lab_5.js' %}"></script>

{% endblock %}
