.card{
	padding-top: 100px;
	padding-left: 300px;
	padding-right: 300px;

}
#tombol{
	padding-left: 100px;
	margin-left: 20px;
}

.card-body .card-title {
	padding-left: 250px;
}
	html{
	position: relative;
}

footer p{
	color: #aaa;
	font-size: 0.9em;
}
#tombol{
	margin-left: 40px;
}
#res{
	margin-right: 30px;
	margin-left: 30px;
}
