#card{
	padding-top: 100px;
	padding-left: 300px;
	padding-right: 300px;

}

	html{
	position: relative;
}


footer p{
	color: #aaa;
	font-size: 0.9em;
}
.container {
  border: 2px solid red;
  border-radius: 5px;
}

