{% extends "layout/base.html" %}

{% block content %}

<div class="jumbotron text-center">
			<h1>Pesan Terkirim</h1>
			<p> Pesan dari {{ name }} </p> 
		</div>

<!-- {% block title %}{% endblock %} -->

<textarea readonly rows="15" class="form-control">&quot;{{message}}&quot;- {{name}}
	by {{ email }}
</textarea>
<div style="clear: both;"></div>
{% endblock %}
