{% block content %}

  {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'css/style_lp.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Abdul Azis Ansori</title>

  </head>
  <body>
    <style type="text/css">
     #card{
      padding-top: 10px;
     }
     .atas{
  border: 2px solid #253E4F;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}
  </style>
    <div class="container atas" >
      <div class="row" id="card">
       <div class="col-sm-3 text-center">
       <img src="{% static 'img/5170311053.jpg'%}" width="100" height="150" >
                  <h6>{{name}}</h6> 
                    <h6>I am {{age}} years old</h6>
                  <h6>{{univ}} || {{pondok}}</h6>
    </div>
    <div class="col-sm-7">
      <h3><b>az-port.herokuapp.com</b></h3>
              <p>saya sangat suka berada di depan laptop. untuk bermain dan coding, saya seorang mahasiswa sistem informasi di salah satu kampus swasta ternama di yogyakarta yaitu Universitas Teknologi Yogyakarta</p>
              <b>more from me ?</b>
    <div class="row">
      <div class="col-sm-4">
     <a href="/my_experience/" class="btn btn-primary">Resume</a>
      </div>
      <div class="col-sm-4">
      <a href="/landing_page/" class="btn btn-primary">Portofolio</a>
      </div>
    </div>

    </div>
    <div class="col-sm">
      <ul >
             <li><a href="https://www.facebook.com/uzumakiaann?ref=bookmarks">Facebook</a></li>
             <li><a href="https://www.instagram.com/azis115_/">Instagram</a></li>
             <li><a href="https://api.whatsapp.com/send?phone=089674552593">Whatsapp</a></li>
              <li><a href="mailto:azisaan552@gmail.com">Email</a></li>
           </ul>

    </div>
    <div class="container">
    <div class="row">
      <div class="col">
         </section>
    <section name="form">

      <h3>Send Message</h3>
          <form id="form" method="POST" action="{% url 'lab_1:message_post' %}">
          {% csrf_token %}
          {{message_form}}

          <br>
          <button type="submit" class="btn btn-primary" >Submit</button>
      </form>

    </section>
    <br>
    </div>
      </div>
    </div>
      </div>
    
    </div>

   

   
    


   

    

    <!-- card -->

          {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>