{% extends "layout/base.html" %}
{% block content %}
<!-- Populate semua isi pesan dari model -->
<div>
<div class="container" style="margin-top:  60px;">
<table class="table table-bordered" style="position: relative;">
	<thead class="thead-dark">
		<th>Nama</th>
		<th>Email</th>
		<th>Pesan</th>
		<th>Dibuat Pada</th>
	</thead>

	<tbody>
	<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
		{% for i in message %}
		{% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
		<tr style="  background-color: #eee;"> {% else %} <tr class="success">
			{% endif %}
			<td> {{i.name}} </td>
			<td> {{i.email}} </td>
			<td> {{i.message}} </td>
			<td> {{i.created_date}} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
<div style="clear: both;"></div>
{% endblock %}
<style >
	th {
  background-color: #4CAF50;
  color: white;
}
</style>