	.container{
			
			width: 1200px;
			margin: auto;
			
		}
		h2{
			margin-top: 80px;
			text-align: center;
		}
		#tempatChat{
			width: 500px;
			margin: auto;
			
			background-color: white;
			padding: 5px 20px;
			border: 10px solid #ecf0f1;
		}
		.orang{
			border: 2px solid cyan;
			padding: 5px;
			margin-bottom: 10px; 
			color: red;
		}
		.user{
			color: black;
			text-decoration:underline;
		}
		.form{
			width: 500px;
			margin: auto;
			background-color: white;
			padding: 5px 20px;
			border: 10px solid #ecf0f1;
			margin-top: 10px;
			margin-bottom: 10px; 
		}
		#spanMesage{
			color: #1abc9c;
			font-size: 20px;
		}
		h1{
			text-align: center;
		}
